<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Blog | Newsletter</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/newsletter.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="./images/blog-icon.svg" type="image/x-icon">
</head>
<body>
<%- include('partials/header', {name: user.name, profilePicture: user.profilePicture }); %>

    <div class="newsletter-wrapper container">
        <div class="subscribe">
            <p class="newsletter-sub-title">Newsletters</p>

            <h2 class="newsletter-title main-title">Stories and interviews</h2>

            <p class="newsletter-description main-text">Subscribe to learn about new product features, the latest in technology, solutions, and updates.</p>
        </div>

        <form class="newsletter-form" action="/newsletter/add" method="post">
            <div class="input-wrapper">
                <input class="newsletter-input" type="email" name='email' placeholder="Enter your email" required>
                <button class="newsletter-btn">Subscribe</button>
            </div>

            <% if (success) { %>
                <p class="newsletter-text success-message"><%= message %></p>
            <% } else { %>
                <p class="newsletter-text error-message"><%= message %></p>
            <% } %>


            <p class="newsletter-text main-text">We care about your data in our <a class="privacy main-text" href="">privacy policy</a></p>
        </form>
    </div>


    <section class="all-blogs container">
        <h3 class="recent-blogs-title main-title">All blog posts</h3>
        <div class="all-blogs-grid">
            <% blogs.splice(0, 6).forEach((blog, index)=>{ %>
                <div class="all-blogs-card">
                    <a href="/blogs/<%= blog.id %>">
                        <figure>
                            <img class="all-blogs-img" src="/images/thumbnails/normal/<%= index %>.png" alt="thumbnail">
                        </figure>
                    </a>
                    <div>
                        <p class="recent-blog-date"><%= blog.formatedDate %></p>
                    </div>
                    <a href="/blogs/<%= blog.id %>">
                        <h3 class="all-blogs-card-title main-title"><%= blog.title.slice(0, 20) %> </h3>
                    </a>
                    <p class="all-blogs-card-text main-text"><%= blog.description.slice(0, 90) %> </p>
                </div>
            <% }) %>
        </div>
    </section>

    <%- include('partials/footer'); %>

</body>
</html>